# **Imports**

In [ ]:
# pandas: Manejo y análisis de estructuras de datos.
import pandas as pd
# numpy: Soporte para crear vectores y matrices.
import numpy as np
# matplotlib: Creación de estadísticas y gráficos.
import matplotlib.pyplot as plt
# seaborn: Creación de estadísticas y gráficos (basada en matplotlib).
import seaborn as sns

# **Comprensión de los datos**

In [ ]:
# Almacenar dataset en un dataframe
df = pd.read_csv("heart.csv")

## **Forma de los datos**

In [ ]:
print("La forma de los datos es : ", df.shape)

La forma de los datos es :  (303, 14)

## **Preview de los datos**

In [ ]:
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

**age:** int<br>
**sex:** int (Hombre 0, Mujer 1)<br>
**cp:** int<br>
**trtbps:** int, mm Hg<br>
**chol:** int, mg/dl<br>
**fbs:** int (>120mg/dl = 1)<br>
**restecg:** int<br>
**thalachh:** int<br>
**exng:** int (Sí 1, No 0)<br>
**oldpeak:** float

## **Comprobar el número de valores únicos por cada columna**

In [ ]:
dict = {}
# Por cada columna
for i in list(df.columns):
    # Guardar valores únicos
    dict[i] = df[i].value_counts().shape[0]

pd.DataFrame(dict,index=["Valores únicos"]).transpose()

          Valores únicos
age                   41
sex                    2
cp                     4
trtbps                49
chol                 152
fbs                    2
restecg                3
thalachh              91
exng                   2
oldpeak               40
slp                    3
caa                    5
thall                  4
output                 2

## **Clasificación de las columnas**

In [ ]:
# Columnas categóricas
cat_cols = ['sex','exng','caa','cp','fbs','restecg','slp','thall']
# Columnas cuantitativas
cuan_cols = ["age","trtbps","chol","thalachh","oldpeak"]
# Objetivo
target_col = ["output"]
# Mostrar clasificación de las columnas
print("Columnas categóricas: ", cat_cols)
print("Columnas cuantitativas: ", cuan_cols)
print("Objetivo:  ", target_col)

Columnas categóricas:  ['sex', 'exng', 'caa', 'cp', 'fbs', 'restecg', 'slp', 'thall']
Columnas cuantitativas:  ['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']
Objetivo:   ['output']

## **Columnas cuantitativas**

In [ ]:
# Resumen de estadísticas
df[cuan_cols].describe().transpose()

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
trtbps    303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
thalachh  303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2

# **Limpieza de los datos**

## **Buscar valores nulos**

In [ ]:
# Sumar todos los valores nulos
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64